<div class="row">
  <div class="col-xs-4 col-xs-offset-1">
    <h1>Sign In</h1>

    <form action="/session" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

      <div class="form-group">
        <label>Email<br>
          <input class='form-control' name="user[email]" type="text"><br>
        </label><br>
      </div>

      <div class="form-group">
        <label>Password<br>
          <input class='form-control' name="user[password]" type="password"><br>
        </label><br>
      </div>

      <input type="submit" value="Submit" class="btn btn-primary"><br>
    </form>
  </div>
</div>
