<div class="panel-footer">
  <strong>New a new card</strong><br>
  <input type='hidden' name='card[list_id]' value='<%= list_id %>'>
  <label>Title
    <input type='text' name="card[title]">
  </label>

  <label>Description
    <input type='text' name="card[description]">
  </label>

  <button type="submit">Add Card</button>

</div>
