<div class='row'>
  <div class="col-xs-4">
    <h1>Boards</h1>
    <ul class="index-list list-group"></ul>
    <br>
    <label>New Board
      <div class="new-board"></div>
    </label>
  </div>
</div>
