<div class='row'>
<div class="col-xs-offset-5">
  <h1><%= board.escape('title') %></h1>
</div>
  <div class="list-index" ></div>
  <br>
  <button class="delete-button btn btn-primary navbar-btn">Delete Board</button>
</div>
