<label>Title
  <input type="text" name="list[title]">
  <input type="hidden" name="list[board_id]" value="<%= board_id %>">
  <input type="hidden" name="list[ord]" value="<%= ord %>">
</label>

<button class="btn btn-primary navbar-btn">Submit</button>
